<!doctype html>
<html class="backgroundcliptext cors cssanimations cssfilters csstransforms csstransforms3d csstransitions no-touchevents supports"
    dir=ltr lang=en prefix="content: http://purl.org/rss/1.0/modules/content/
dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema#
schema: http://schema.org/ sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core#
xsd: http://www.w3.org/2001/XMLSchema# "
    xmlns:article=http://ogp.me/ns/article# xmlns:book=http://ogp.me/ns/book# xmlns:product=http://ogp.me/ns/product#
    xmlns:profile=http://ogp.me/ns/profile# xmlns:video=http://ogp.me/ns/video#> <meta charset=UTF-8>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
{{!--
<link rel="stylesheet" href="https://use.typekit.net/bcr0bwp.css"> --}}
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<title>{{metaTags.title}}</title>
<meta content="{{metaTags.title}}" name="title">
<meta content="{{metaTags.description}}" name="description">
<meta content="{{metaTags.keywords}}" name="keywords">
<meta content="{{metaTags.author}}" name="author">
<meta content='yes' name='apple-mobile-web-app-capable'>
<link href="/img/fevicon.ico" rel="shortcut icon" type="image/x-icon">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="/css/materialize.min.css">


<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ'
    crossorigin='anonymous'>
{{!--
<link href=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css rel=stylesheet crossorigin=anonymous
    integrity=sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN>--}}
<link href="/css/style.css" rel="stylesheet">
{{!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> --}}
{{!-- <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> --}}
<link href="#/" rel="shortlink">
<link href="#/" rel="canonical">
<link href="#/sg/" rel="hreflang" hreflang="en-SG">
<link href="#/in/" rel="hreflang" hreflang="en-IN">
<link href="#/uk/" rel="hreflang" hreflang="en-GB">
<link href="#/au/" rel="hreflang" hreflang="en-AU">
<link href="#/ae/" rel="hreflang" hreflang="en-AE">
<link href="#/de/" rel="hreflang" hreflang="de">
<link href="#/en/" rel="alternate" hreflang="en">
{{!--
<link href="" rel="mask-icon" color="#0098e3"> --}}
<meta content="#2b5797" name="msapplication-TileColor">
<link href="/manifest.json" rel="manifest" type="manifest+json">
<link href="/manifest.webmanifest" rel="manifest" type="manifest+json">
{{!--
<script type="text/javascript" src="./new-install.js"></script> --}}
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="yes" name="apple-mobile-web-app-capable">
<link href="/favicon.ico" rel="icon" sizes="16x16 32x32 48x48">
<link href="/images/medium512.png" rel="icon" sizes="512x512">
<meta content="#0098e3" name="theme-color">
<meta content="browserconfig.xml" name="msapplication-config">{{!-- SEO AREA START --}}
<script>console.log("%c Stop! %cThis is a browser feature intended for developers.If someone told you to copy and paste something here to enable a RollOut feature or 'hack' someone's account, it is a scam and will give them access to your RollOut account. %cSee https://new-RollOut.herokuapp.com/security for more information. ", "font-weight:bold;font-size:50px;color:red;text-shadow:1px 1px 0px black, 1px -1px 0px black,-1px 1px 0px black,-1px -1px 0px black;", "font-weight:500;font-size:20px;color:#404040;", "font-weight:500;font-size:22px;color:grey;")</script>{{!--
HTTP TO HTTPS REDIRECT --}}

{{!-- <script>"https:" != document.location.protocol && (document.location = document.URL.replace(/^http:/i, "https:"))</script> --}}
<script>var monsterinsights_frontend = { js_events_tracking: "true", is_debug_mode: "false", download_extensions: "doc,exe,js,pdf,ppt,tgz,zip,xls", inbound_paths: "/recommended/", home_url: "#", track_download_as: "event", internal_label: "aff", hash_tracking: "false" }</script>
<script>var advanced_ads_responsive = { reload_on_resize: "0" }</script>
<script>var advanced_ads_pro_visitor_conditions = { referrer_cookie_name: "advanced_ads_pro_visitor_referrer", referrer_exdays: "365", page_impr_cookie_name: "advanced_ads_page_impressions", page_impr_exdays: "3650" }</script>
<link href="#" rel="https://api.w.org/">
<meta content={{metaTags.generator}} name="generator">
<link href="#" rel="shortlink">
<meta content="{{metaTags.generator}}" name="generator">

<meta content="en_US" property="og:locale">
<meta content="website" property="og:type">
<meta content="{{metaTags.title}}" property="og:title">
{{!--
<meta content="RollOut is an award winning blog that talks about living a boss free life with blogging. We cover about WordPress, SEO, Make money Blogging, Affiliate marketing."
    property="og:description"> --}}
<meta content="Octicons-book.svg.png" property="og:image">
<meta content="#" property="og:url">
<meta content="RollOut" property="og:site_name">
<meta content="{{metaTags.title}}" name="twitter:card">

<meta content="RollOut is an award winning blog that talks about living a boss free life with blogging. We cover about WordPress, SEO, Make money Blogging, Affiliate marketing." name='twitter:description'>
<meta content="{{metaTags.title}}" name="twitter:title">
<meta content="{{metaTags.TwitterLink}}" name="twitter:site">
<meta content="{{metaTags.myTwitter}}" name="twitter:creator">

{{> _header}}
<main>
    <div class="container">{{{body}}}</div>

</main>{{> _footer}}

<script type="text/javascript" src="/app.js"></script>